/* style.css */
:root {
  --nav-header-color: #000000ff;
  --sub-color: #4a90e2;
  --font-color: #333;
    --font-color2: #fff;
  --bg-color: #f9f9f9;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --bg-nav: #e0e0e0;
}


html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:system-ui,-apple-system,"Segoe UI",Roboto,Arial,sans-serif;
  background-color: var(--bg-nav);
  color: var(--font-color);
  justify-content: center;
  display: flex;

}

header {
  width: 100%;
  align-items: center;
  justify-content: start;
}


.nav-header {
  position: fixed;
  width: 100%;
  height: 20px;
  background-color: var(--nav-header-color);
  padding: 20px;
  z-index: 10;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 80%;
}


.nav-header a {
text-decoration: none;
  color: var(--font-color2);
 padding: 10px;
}

.nav-header a:hover {
  color: #fff;
  border: 2px solid var(--font-color2);
  border-left: none;
  border-right: none;
  border-top: none;
}

.section-1 {
  
}

.nav-1 {
  position: relative;  
  z-index: 0;
  position: fixed;
  top: 0px;
 width: 70px;
 padding-top: 80px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;

   box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-left: 10px;

}

.nav-1 a {
  text-decoration: none;
  padding: 50px;

  color: var(--font-color);
  transform: rotate(-90deg);
}
.post-1 {
  width: 70%;
  padding-top: 100px;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
margin-left: 90px;
  padding-left: 20px;
  padding-right: 20px;
padding-bottom: 20px;
margin-bottom: 20px;
}

.post-content a {

  color: var(--font-color);
}

.post {
  width: 70%;
  padding-top: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
margin-left: 90px;
  padding-left: 20px;
  padding-right: 20px;
padding-bottom: 20px;
margin-bottom: 20px;
}

.robo-img {

  width: 360px;
  border-radius: 20px;

}

.solar-img-2 {

  width: 90%;
    text-align: start;
    margin-top: 10px;
    border: black 1px solid;
    border-radius: var(--border-radius);
    display: flex;

}



  .github-btn {

    position: fixed;
    top: 90%;
    margin-left:10px;
  }

  .whats-btn {
    position: fixed;
    top: 83%;
    margin-left:10px;
  }

  
  iframe{
    width: 90%;
    
      }